@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Nunito+Sans:wght@500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

:root{
    --color-grey: #efecf3;
    --shallow-shadow: 0 1px .625rem 0 hsla(210, 7%, 22%, .06), 0 .125rem .25rem 0 hsla(210, 7%, 22%, .08);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}


body{
    /* background-color: var(--color-grey); */
    font-family: "Roboto";
    overflow-x: hidden;
}

.container{
    width: 95%;
    margin: 0 auto;
}

img{
    width: 100%;
    object-fit: cover;
}

.profile-photo{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}



header{
    color: white;
    background: linear-gradient(to right, #2a395e, #212542);
    padding-top: 0.5rem;
    padding-bottom: 3rem;
    position: relative;
}

header::before{
    content: "";
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: #ffffff;
    left: 0;
    bottom: -20px;
    transform: rotate(233deg);
}

header::after{
    content: "";
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: #ffffff;
    right: 0;
    bottom: -20px;
    transform: rotate(123deg);
}


header .inner-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .header-body{
    margin-top: 3rem;
}

header .header-body h2{
    font-size: 1.2rem;
    font-weight: 500;
    font-style: italic;
}
header .header-body h4{
    color: #ffffff;
    margin-top: 1rem;
    font-weight: 400;
}

header i{
    font-size: 2rem;
}

header .header-right{
    display: flex;
    align-items: center;
    gap: 2rem;
}


.search-container{
    padding: 15px 30px;
    background-color: white;
    border-radius: 70px;
    position: relative;
    box-shadow: var(--shallow-shadow);
    margin-top: 2rem;
}
.search-container input{
    background: transparent;
    width: 100%;
    height: 100%;
}

.search-container i{
    position: absolute;
    right: 25px;
}

.searching-list-container{
    margin-top: 2rem;
    color: #7f818f;
}

.searching-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    gap: 20px;
}
.searching-list span{
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #7f818f;
    font-weight: 600;
    color: #161717;
}

.searching-list span i{
    margin-right: 0.3rem;
}

.recently-searched-container{
    margin-top: 2rem;
}

.recently-searched-container h2{
    font-weight: 700;
    font-style: italic;
    color: #282f47;
    margin: 1.2rem 0;
    font-size: 1.2rem;
}
.recently-searched-container h3{
    color: #282f47;
    margin: 1rem 0;
}
.recently-searched-container .recently-list{
    display: flex;
    gap: 1rem;
}

.recently-searched-container .recently-list div{
    text-align: center;
}

.recently-searched-container .recently-list div img{
    border-radius: 10px;
    width: 8rem;
    height: 8rem;
}

.recently-searched-container .recently-list div h4{
    text-align: center;
    margin-top: 1rem;
    color: #7f818f;
}